
# .env
#Base de datos PostgreSQL
POSTGRES_URL=jdbc:postgresql://localhost:5432/nombre_de_tu_base_de_datos
POSTGRES_DB=nombre_de_tu_base_de_datos
POSTGRES_USER=nombre_de_usuario
POSTGRES_PASSWORD=tu_contraseña_secreta
#Properties de JPA/Hibernate para desarrollo
DB_DDL_AUTO=update
SHOW_SQL=true
LOG_LEVEL=DEBUG
API_USER=admin
API_PASSWORD=password123

#URL Frontend para inyectar dinamicamente
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:8080
VITE_API_MAP_BOX_KEY=tu_clave_de_mapbox_aqui