@import "tailwindcss";

/* ---------------------------------------------------- */
/* Estilos Estructurales Críticos para PWA/WCAG */
/* Estos aseguran que la app ocupe 100% de la vista*/
/* ---------------------------------------------------- */
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* El elemento raíz de la aplicación */
#root {
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  width: 100%;
  background-color: var(--color-gray-100)
}

/* ---------------------------------------------------- */
/* Estilos Base con @apply (@layer base) Accesible por defecto */
/* ---------------------------------------------------- */
@layer base {
  /* Enlaces: Estilo coherente para enlaces fuera de botones */
  a {
    @apply font-semibold rounded-lg transition-colors mx-1 
           focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-offset-2 focus:bg-gray-100;
  }


  /* Títulos H1: Define el estilo principal para el título de la página */
  h1 {
    @apply text-3xl font-extrabold tracking-tight text-gray-900;
  }

  /* Títulos H2: Estilo secundario */
  h2 {
    @apply text-2xl font-bold text-gray-800;
  }
  
  /* Inputs/Textareas: Define el estilo de borde, padding y foco para todos los campos */
  input:where([type="text"], [type="email"], [type="password"]),
  textarea {
    @apply w-full p-3 border border-gray-300 rounded-lg 
           focus:ring-indigo-500 focus:border-indigo-500 
           transition-all duration-150 ease-in-out;
  }

  /* Botones Primarios con el foco (WCAG 2.4.7) sea siempre visible. */
  button {
    @apply font-semibold rounded-lg transition-colors 
           focus:outline-none focus:ring-4 focus:ring-indigo-300 focus:ring-offset-2;
  }

}